/*Colors:
#104F55
#32746D
#9EC5AB
#01200F
#011502
*/

html {
	background-color:#000;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size:36px;
	font-weight:bold;
}

/* Adam G 5/23: From template

.content{
	background-color:#9EC5AB;
	width:70%;
	padding:20px;
	margin:20px auto;
} */

.user-instructions {
	color:white;
	font-weight:bold;
}

.data-input {
	color:#fff;
}

.search-form {
	margin-top:20px;
}

#mainContent {
    position:relative;
}

#bgDiv {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar {
	padding: 1px;
	background:#0B0523;
	margin-top:5px;

}

#title {
	font-weight:bold;
}

#music-holder{
	background:#0B0523;
	color: white;
	width: 100%;
	height: 40px;
	text-align: center;
}

#search-date {
	color:white;
}

#search-term {
	color:white;
}