/*Colors:
#104F55
#32746D
#9EC5AB
#01200F
#011502
*/

html {
	background-color: #000;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: bold;
}

.user-instructions {
	color: white;
	font-weight: bold;
	margin-top: 55px;
}

.data-input {
	color: #fff;
}

.search-form {
	margin: 20px 0;
}

.btn:focus {
	background-color: #0B0523;
}

.resBox {
	display: inline-block;
	margin-right: 8px;
	max-width: 22%;
	max-height: 200px;
}

#mainContent {
	position: relative;
}

#bgDiv {
	content: "";
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0.6;
	position: fixed;
	background-repeat: repeat-y;
	background-size: 100% auto;
	padding: 0;
	margin: 0;
	z-index: 0;
}

.navbar {
	padding: 1px;
	background: #0B0523;
	margin-top: 5px;
}

#title {
	font-weight: bold;
}

#music-holder {
	background: #0B0523;
	color: white;
	height: 40px;
	text-align: center;
	position: fixed;
	bottom: 5px;
	width: 100%;
	left: 0;
	bottom: 0;
}

#search-date {
	color: white;
}

#search-term {
	color: white;
}

.btn {
	background-color: #0B0523;
}

.btn:hover {
	background-color: #180c47;
}

.carousel {
	height: 500px;
	float: center;
}
.carousel .carousel-item {
	width:200px !important;
}